#{extends 'main.html' /}
#{set title:'List' /}

*{%{
  scala.Option.metaClass.toString = { -> 'YOP'} 
  scala.Some.metaClass.toString = { -> 'YOP'}  
}%}*

<table id="list">
    <thead>
        <tr>
            <th class="name">Name</th>
            <th class="firstname">First name</th>
            <th class="birthdate">Birth date</th>
            <th class="email">Email</th>
            <th class="action"></th>
            <th class="action"></th>
        </tr>
    </thead>
    <tbody>
        #{list contacts, as:'contact'}
            <tr class="contact" contactId="${contact.id}" draggable="true">
                <td id="name-${contact.id}">${contact.name}</td>
                <td id="firstname-${contact.id}">${contact.firstname}</td>
                <td id="birthdate-${contact.id}">${contact.birthdate?.format('yyyy-MM-dd')}</td>
                <td id="email-${contact.id}">${contact.email}</td>
                <td><a href="@{form(contact.id)}">edit</a></td>
                <td>#{a @delete(contact.id)}delete#{/a}</td>
            </tr>
        #{/list}
    </tbody>
</table>